<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1>Lista de empleados</h1>
      <a href="{{ url_for('create')}}">Crear empleado</a>

      <table border="1">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Puesto</th>
          </tr>
          <tbody>
            <!-- Tengo que recorrer la variable employees -->
            {% for employee in employees %}
            <tr>
              <td>{{ employee[0] }} </td>
              <td>{{ employee[1] }} </td>
              <td>{{ employee[2] }} </td>
              <td>{{ employee[3] }} </td>
              <td>{{ employee[4] }} </td>
            </tr>
            {% endfor %}
          </tbody>

        </thead>
      </table>
    </section>
  </body>
</html>
